apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-api
  template:
    metadata:
      labels:
        app: product-api
    spec:
      containers:
        - name: product-api
          image: product-api:1.0
          ports:
            - containerPort: 3000
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: jwt
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: db-host
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: db-user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: db-password
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: db-port
